version: "3.8"

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/home/user/web/
    ports:
      - 8000:8000
    environment:
      - DEBUG=1
      - SECRET_KEY=foo
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_DATABASE=demo
      - SQL_USER=postgres
      - SQL_PASSWORD=demo
      - SQL_HOST=db
      - SQL_PORT=5432
      - DATABASE=postgres

    depends_on:
      - db

  db:
    image: postgres:13.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=demo
      - POSTGRES_PASSWORD=demo

volumes:
  postgres_data:
